In [66]:
import sqlite3 as sq3

In [67]:
#creating database
conn = sq3.connect('three.db')
c = conn.cursor()
query = 'CREATE TABLE stock (symbol, price)'
# c.execute(query)
# conn.commit()

In [68]:
#inserting values
c.execute("INSERT INTO stock VALUES(?,?)", ("AAPL", "119"))
conn.commit()